@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Sobre a Requisição de Veiculos</h3>
<a> 
 Esta aplicação foi desenvolvida no começo no meu antigo estágio, e estou tentando pegar ela novamente para eu treinar e testar novas coisas
 para poder aplicar em um futuro trabalho. Tratasse de um cadastro de empréstimo de veículo, onde o usuário poderá solicitar o veiculo para 
 a locadora, e os gerentes da locadora poderão analisar se o empréstimo é viável ou não, caso sim, o gerente executará analises e descreverá 
 como está saindo o veiculo e qual veiculo e ele irá emprestar. Na volta o usuário irá devolver o veiculo ao gerente, a qual será feito mais uma 
 analise para que possa verificar se está tudo ok, após analise o gerente irá cadastrar o que veio de diferente no veiculo desde sua saída, 
 registrando então a sua data de entrada e mais detalhes.

</a>
